server:
  port: ${PORT:8888}
  servlet:
    context-path: /api-gateway
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

config:
  http:
    identity: ${IDENTITY_SERVICE_URL:http://localhost:8080/identity}
  prefix: /api/v1
  remove-prefix: 2

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: identity-service
          uri: ${IDENTITY_SERVICE_URL:http://localhost:8080}
          predicates:
               - Path=${config.prefix}/identity/**
          filters:
                - StripPrefix=${config.remove-prefix}

        - id: profile-service
          uri: ${PROFILE_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=${config.prefix}/profiles/**
          filters:
            - StripPrefix=${config.remove-prefix}

        - id: post-service
          uri: ${POST_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=${config.prefix}/posts/**
          filters:
            - StripPrefix=${config.remove-prefix}

        - id: comments-service
          uri: ${COMMENT_SERVICE_URL:http://localhost:8083}
          predicates:
            - Path=${config.prefix}/comments/**
          filters:
            - StripPrefix=${config.remove-prefix}
