name: "deploy"
on:
  push:
    branches: ["test"]
    tags:
      - "v*"
    paths:
      - "src/**"
      - "Dockerfile"
      - "docker-compose.yml"
      - ".github/workflows/deploy.yaml"
  pull_request:
    branches: ["master"]
    paths:
      - "src/**"
      - "Dockerfile"
      - "docker-compose.yml"
      - ".github/workflows/deploy.yaml"
  workflow_dispatch:

jobs:
  deploy:
    name: "Deploy Application"
    runs-on: ubuntu-latest
    steps:
      - name: "SSH"
        env:
          DEPLOY_PATH: "/var/www/html/nmcnpm.lethanhcong.site/"
          BRANCH: "test"

          # Repository Variables
          CORS_ORIGINS: ${{ vars.CORS_ORIGINS }}
          DEBUG: ${{ vars.DEBUG }}
          GPU_DEVICE_ID: ${{ vars.GPU_DEVICE_ID }}
          MONGO_DB_NAME: ${{ vars.MONGO_DB_NAME }}
          MONGO_URI: ${{ vars.MONGO_URI }}
          SECRET_KEY: ${{ vars.SECRET_KEY }}
          TIME_ZONE: ${{ vars.TIME_ZONE }}
          USE_GPU: ${{ vars.USE_GPU }}
          USE_TZ: ${{ vars.USE_TZ }}
          VITE_GOOGLE_CLIENT_ID: ${{ vars.VITE_GOOGLE_CLIENT_ID }}
          VITE_GOOGLE_REDIRECT_URI: ${{ vars.VITE_GOOGLE_REDIRECT_URI }}
          VITE_SOCIAL_GATWAY_API_URL: ${{ vars.VITE_SOCIAL_GATWAY_API_URL }}
          VITE_TURN_CREDENTIAL_1: ${{ vars.VITE_TURN_CREDENTIAL_1 }}
          VITE_TURN_CREDENTIAL_2: ${{ vars.VITE_TURN_CREDENTIAL_2 }}
          VITE_TURN_URL_1: ${{ vars.VITE_TURN_URL_1 }}
          VITE_TURN_URL_2: ${{ vars.VITE_TURN_URL_2 }}
          VITE_TURN_USERNAME_1: ${{ vars.VITE_TURN_USERNAME_1 }}
          VITE_TURN_USERNAME_2: ${{ vars.VITE_TURN_USERNAME_2 }}

          # Repository Secrets
          GEMINI_API_KEYS: ${{ secrets.GEMINI_API_KEYS }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          SUPABASE_DB_HOST: ${{ secrets.SUPABASE_DB_HOST }}
          SUPABASE_DB_NAME: ${{ secrets.SUPABASE_DB_NAME }}
          SUPABASE_DB_PASSWORD: ${{ secrets.SUPABASE_DB_PASSWORD }}
          SUPABASE_DB_PORT: ${{ secrets.SUPABASE_DB_PORT }}
          SUPABASE_DB_SSLMODE: ${{ secrets.SUPABASE_DB_SSLMODE }}
          SUPABASE_DB_USER: ${{ secrets.SUPABASE_DB_USER }}
          VITE_FIREBASE_API_KEY: ${{ secrets.VITE_FIREBASE_API_KEY }}
          VITE_FIREBASE_APP_ID: ${{ secrets.VITE_FIREBASE_APP_ID }}
          VITE_FIREBASE_AUTH_DOMAIN: ${{ secrets.VITE_FIREBASE_AUTH_DOMAIN }}
          VITE_FIREBASE_MEASUREMENT_ID: ${{ secrets.VITE_FIREBASE_MEASUREMENT_ID }}
          VITE_FIREBASE_MESSAGING_SENDER_ID: ${{ secrets.VITE_FIREBASE_MESSAGING_SENDER_ID }}
          VITE_FIREBASE_PROJECT_ID: ${{ secrets.VITE_FIREBASE_PROJECT_ID }}
          VITE_FIREBASE_STORAGE_BUCKET: ${{ secrets.VITE_FIREBASE_STORAGE_BUCKET }}

        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE }}
          port: ${{ secrets.SSH_PORT }}
          envs: DEPLOY_PATH,BRANCH,DEBUG,MONGO_DB_NAME,MONGO_URI,SECRET_KEY,GEMINI_API_KEYS,GOOGLE_CLIENT_SECRET,OPENAI_API_KEY,SUPABASE_DB_HOST,SUPABASE_DB_NAME,SUPABASE_DB_PASSWORD,SUPABASE_DB_PORT,SUPABASE_DB_SSLMODE,SUPABASE_DB_USER,VITE_GOOGLE_CLIENT_ID,VITE_GOOGLE_REDIRECT_URI,VITE_SOCIAL_GATWAY_API_URL,VITE_TURN_CREDENTIAL_1,VITE_TURN_CREDENTIAL_2,VITE_TURN_URL_1,VITE_TURN_URL_2,VITE_TURN_USERNAME_1,VITE_TURN_USERNAME_2,VITE_FIREBASE_API_KEY,VITE_FIREBASE_APP_ID,VITE_FIREBASE_AUTH_DOMAIN,VITE_FIREBASE_MEASUREMENT_ID,VITE_FIREBASE_MESSAGING_SENDER_ID,VITE_FIREBASE_PROJECT_ID,VITE_FIREBASE_STORAGE_BUCKET
          script: |
            git clone https://github.com/Dev-Web-2005/AI-photofun-Studio.git
            cd AI-photofun-Studio
            git checkout -b $BRANCH origin/$BRANCH

            cd src/backend/backendSocial
            export GOOGLE_CLIENT_SECRET=$GOOGLE_CLIENT_SECRET
            docker-compose down || true
            docker-compose up -d --build --force-recreate

            cd ../backendAI
            cat > .env << EOF
            DJANGO_SECRET_KEY=$SECRET_KEY
            DJANGO_DEBUG=$DEBUG
            SUPABASE_DB_HOST=$SUPABASE_DB_HOST
            SUPABASE_DB_PORT=$SUPABASE_DB_PORT
            SUPABASE_DB_NAME=$SUPABASE_DB_NAME
            SUPABASE_DB_USER=$SUPABASE_DB_USER
            SUPABASE_DB_PASSWORD=$SUPABASE_DB_PASSWORD
            SUPABASE_DB_SSLMODE=$SUPABASE_DB_SSLMODE
            FREEPIK_API_KEY=$OPENAI_API_KEY
            GEMINI_API_KEY=$GEMINI_API_KEYS
            MONGO_URI=$MONGO_URI
            MONGO_DB_NAME=$MONGO_DB_NAME
            EOF
            docker-compose down || true
            docker-compose up -d --build --force-recreate


            cd ../../frontend
            cat > .env << EOF
            VITE_GOOGLE_CLIENT_ID=$VITE_GOOGLE_CLIENT_ID
            VITE_GOOGLE_REDIRECT_URI=$VITE_GOOGLE_REDIRECT_URI
            VITE_SOCIAL_GATWAY_API_URL=$VITE_SOCIAL_GATWAY_API_URL
            VITE_TURN_CREDENTIAL_1=$VITE_TURN_CREDENTIAL_1
            VITE_TURN_CREDENTIAL_2=$VITE_TURN_CREDENTIAL_2
            VITE_TURN_URL_1=$VITE_TURN_URL_1
            VITE_TURN_URL_2=$VITE_TURN_URL_2
            VITE_TURN_USERNAME_1=$VITE_TURN_USERNAME_1
            VITE_TURN_USERNAME_2=$VITE_TURN_USERNAME_2
            VITE_FIREBASE_API_KEY=$VITE_FIREBASE_API_KEY
            VITE_FIREBASE_APP_ID=$VITE_FIREBASE_APP_ID
            VITE_FIREBASE_AUTH_DOMAIN=$VITE_FIREBASE_AUTH_DOMAIN
            VITE_FIREBASE_MEASUREMENT_ID=$VITE_FIREBASE_MEASUREMENT_ID
            VITE_FIREBASE_MESSAGING_SENDER_ID=$VITE_FIREBASE_MESSAGING_SENDER_ID
            VITE_FIREBASE_PROJECT_ID=$VITE_FIREBASE_PROJECT_ID
            VITE_FIREBASE_STORAGE_BUCKET=$VITE_FIREBASE_STORAGE_BUCKET
            EOF
            npm install
            npm run build
            cp -r dist/* $DEPLOY_PATH
            echo "Deployment completed."
